src/app/globals.css

/* CSS Reset - Reset all default styles to a consistent baseline */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Use a simple, readable default font */
  }
  
  html, body {
    height: 100%;
    background-color: #f9f9f9; /* Light background color for a clean look */
    color: #333; /* Dark gray text for readability */
  }
  
  body {
    line-height: 1.6; /* Make text more readable */
  }
  
  a {
    text-decoration: none;
    color: inherit; /* Link colors will inherit from parent, no underline */
  }
  
  ul {
    list-style: none; /* Remove default list styles */
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer; /* Make buttons and links consistent */
  }


  /* for the data table */

  .p-menubar-right .p-menubar-root-list {
    margin-left: auto; 
  }
  
  .p-menubar-right .p-menubar-button {
    margin-left: auto; 
  }
  .p-menubar {
    border: none; /* Remove default border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }


  .p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background: #f3f4f6;
  }
  
  .p-datatable .p-datatable-tbody > tr:hover {
    background: #e5e7eb;
  }
  
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 16px 12px;
  }
  
  .p-datatable .p-paginator {
    background: #f3f4f6;
    border-top: 1px solid #d1d5db;
  }



  /* Transition Styles */
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CSS for bouncing animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Apply the animation to the PrimeReact icon */
.bounce {
  animation: bounce 2s infinite;
}


